<h1>Edition User</h1>

{{!----------------titre -----------------}}
<h1>PUT {{ dbUser.name }}</h1>
{{!----------------/titre -----------------}}

{{!-- Edition User--}}
<form action="/adminUserEdit/{{ dbUser._id }}/?_method=PUT" method="POST">
    <div>
        <div>
            <img src="{{ dbUser.image }}" alt="image user" widht="200px" height="200px">
        </div>
        <div>
            <p>Nom d'utilisateur : {{ dbUser.name }}</p>
            <p>Adresse Email : {{ dbUser.email }}</p>
            <p>Fonction : {{ dbUser.fonction }} </p>
        </div>
        <div>
            <label>Définir le rôle utilisateur:</label>
            <select name="role" required>
                <option value="">Rôle utilisateur</option>
                <option value="isAdmin">Administrateur</option>
                <option value="isModo">Modérateur</option>
                <option value="isVerified">Vérifié</option>
                <option value="isBan">Bannis</option>
            </select>
        </div>
    </div>
    <div>
        <button type="submit">Modifier </button>
    </div>
</form>
<form action="/adminUserEdit/{{ dbUser._id }}/?_method=delete" method="POST" enctype="multipart/form-data">
    <button type="submit">Supprimer </button>
</form>
{{!-- /Edition User --}}

<a href="/">Retour à l'accueil</a>