<div class="container my-5">
    <h1 class="colorGreen"><a href="/repertory" class="text-reset"> Les derniers sites du répertoire</a></h1>
    <div class="row">
        <div class="card-deck mt-4">
            {{#each (limitEach dbRepertoryVerified 3 ) }}
            <div class="card limitCard">
                <div class="card-header">
                    <small class="text-muted">Dans catégorie :
                        {{#contains category "sansGluten" }}
                        Sans gluten
                        {{/contains }}
                        {{#contains category "sansLactose" }}
                        Sans lactose
                        {{/contains }}
                        {{#contains category "sansOeufs" }}
                        Sans oeufs
                        {{/contains }}
                        {{#contains category "sansCaseine" }}
                        Sans caséine
                        {{/contains }}
                        / Note : </small>
                </div>
                <div class="card-body">
                    <img src="{{ image }}" class="rounded float-left" height="100px" width="100px" alt="image du site">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ title }}</h5>
                    <a href="{{ url }}">{{ url }}</a>
                    <p class="card-text mt-2">{{ truncate content 200 }}</p>
                </div>
                {{!-- <a href="#" class="btn d-flex flex-row-reverse">Noter</a> --}}
            </div>
            {{/each }}
        </div>
    </div>
</div>


<div class="container my-5">
    <h1 class="colorGreen"><a href="/actus" class="text-reset"> Mes derniers articles</a></h1>
    <div class="row">
        <div class="card-deck mt-4 ">
            {{#each (limitEach dbActu 3 ) }}
            <div class="card limitCard">
                <div class="card-body">
                    <h5 class="card-title mt-2">{{ title }}</h5>
                    <p class="card-text">{{ truncate content 200 }}</p>
                </div>
                <a href="/actuSingle/{{ id }}" class="btn">Voir l'article</a>
                <div class="card-body">
                    <img src="{{ image }}" class="rounded float-left" height="200px" width="180px"
                        alt="image de l'article">
                </div>
                <div class="card-footer">
                    <small class="text-muted">Publié le
                        {{ moment createDate format="DD/MM/YYYY" }}</small>
                </div>
            </div>
            {{/each }}
        </div>
    </div>
</div>