{{!-- 
Page Accueil

Note : 
indications "note" à remettre dans "small" de la card dès que fonctionnalité en place
bouton "noter" à remettre dès que fonctionnalité en place
 --}}

{{!-- Descriptif du site --}}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <p class="text-justify">Bienvenue sur le "Blog sans allergènes".
                <br> Ici vous pourrez retrouver un répertoire qui liste tous les sites qui publient des recettes sans
                allergènes (pour le moment : sans gluten, sans lactose, sans oeufs et sans caséine) et y effectuer un
                tri selon les catégories qui vous intéressent.
                <br> Vous retrouverez également des articles ou recettes que je posterais.
                <br> Si vous créez un compte, cela vous permettra de me proposer des sites à ajouter au répertoire mais
                aussi de commenter mes articles ou recettes.
                <br> Ce projet est aussi pour vous donc n'hésitez pas à me faire remonter toutes remarques via ma page
                contact. Sachant que des évolutions sont déjà prévues.
                <br> Profitez bien et surtout ... régalez vous !!!
            </p>
        </div>
    </div>
</div>
{{!-- /Descriptif du site --}}

{{!-- Section cards du répertoire --}}
<div class="container mt-3 mb-5">

    {{!-- Titre section cards du répertoire --}}
    <h1 class="colorWrite title text-center"><a href="/repertory" class="text-reset"> Les derniers sites ajoutés</a>
    </h1>
    {{!-- /Titre section cards du répertoire --}}

    <div class="row">

        {{!-- Cards du répertoire --}}
        <div class="card-deck mt-4">
            {{#each (limitEach dbRepertoryVerified 3 ) }}
            <div class="card limitCard ml-3">
                <div class="card-header">
                    <small class="text-muted">Dans catégorie :
                        {{#contains category "sansGluten" }}
                        Sans gluten
                        {{/contains }}
                        {{#contains category "sansLactose" }}
                        Sans lactose
                        {{/contains }}
                        {{#contains category "sansOeufs" }}
                        Sans oeufs
                        {{/contains }}
                        {{#contains category "sansCaseine" }}
                        Sans caséine
                        {{/contains }}
                        {{!-- / Note :  --}}
                    </small>
                </div>
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 d-flex flex-column">
                                <h5 class="card-title">{{ title }}</h5>
                                <a href="{{ url }}" class="my-2" target="_blank" rel="noopener">{{ url }}</a>
                                <p class="card-text my-2 text-justify">{{ truncate content 200 }}</p>
                                <img src="{{ image }}" class="rounded float-left" height="120" width="100"
                                    style="object-fit: contain" alt="image ou logo du site">
                            </div>
                        </div>
                    </div>

                </div>
                {{!-- <a href="#" class="btn d-flex flex-row-reverse">Noter</a> --}}
            </div>
            {{/each }}
        </div>
        {{!-- /Cards du répertoire --}}

    </div>
</div>
{{!-- /Section cards du répertoire --}}

{{!-- Div de séparation avec slogan --}}
<div class="container-fluid py-4 bgNavAdmin w-100">
    <div class="row d-flex flex-row justify-content-center align-items-center">
        <i class="fas fa-cookie-bite fa-2x mb-2" style="color: #84563C"></i>
        <i class="fas fa-cookie-bite fa-2x mb-2" style="color: #84563C"></i>
        <i class="fas fa-cookie-bite fa-2x mb-2" style="color: #84563C"></i>
        <p class="font-weight-bolder h3 text-white px-4">
            Manger sans ALLERGENES n'est pas manger sans GOURMANDISE !!!
        </p>
        <img src="/public/ressources/images/default/imgDivBackgroundHome.jpeg" alt="photo d'un repas entre amis"
            class="rounded-circle mt-2" width="250">
    </div>
</div>
{{!-- /Div de séparation avec slogan --}}


{{!-- Section cards des articles --}}
<div class="container my-5">

    {{!-- Titre section cards des articles --}}
    <h2 class="colorWrite title text-center h1"><a href="/actus" class="text-reset"> Mes derniers articles</a></h2>
    {{!-- /Titre section cards des articles --}}

    <div class="row">

        {{!-- Cards des articles --}}
        <div class="card-deck mt-4">
            {{#each (limitEach dbActu 3 ) }}
            <div class="card limitCard ml-3">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 d-flex flex-column">
                                <h5 class="card-title mt-2">{{ title }}</h5>
                                <p class="card-text mt-2 text-justify">{{ truncate content 200 }}</p>
                                <img src="{{ image }}" class="rounded float-left mt-2" height="200" width="180"
                                    style="object-fit: contain" alt="image de l'article">
                                <a href="/actuSingle/{{ id }}"
                                    class="d-flex justify-content-end text-decoration-none mt-2"><button
                                        class="btn btnSite mt-3">Voir l'article</button></a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Publié le
                        {{ moment createDate format="DD/MM/YYYY" }}</small>
                </div>
            </div>
            {{/each }}
        </div>
        {{!-- /Cards des articles --}}

    </div>
</div>
{{!-- /Section cards des articles --}}