{{!------------ nav 1 ------------------}}
<header class="d-table-row bgNav">
    {{!-- <header> --}}

    <div>
        <ul class="nav justify-content-end" id="scrollup">
            {{#if isAdmin }}
            <li class="nav-item">
                <a class="nav-link text-muted colorBlack" href="/admin">Admin</a>
            </li>
            {{/if}}
            <li class="nav-item">
                <a class="nav-link text-muted colorBlack" href="/about">A propos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-muted colorBlack" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-muted dropdown-toggle dropdown-menu-right colorBlack" data-toggle="dropdown"
                    href="#" role="button" aria-haspopup="true" aria-expanded="false">Compte</a>
                <div class="dropdown-menu dropdown-menu-right">
                    {{#if user}}
                    <button class="dropdown-item" type="submit" data-toggle="modal"
                        data-target="#modalUserEdit{{ _id }}">Gérer
                        mon compte</button>
                    <a class="dropdown-item" href="/userLogOut">Se déconnecter</a>
                    {{else}}
                    <button class="dropdown-item" type="button" data-toggle="modal" data-target="#modalUserCreate">Créer
                        un
                        compte</button>
                    <button class="dropdown-item" type="button" data-toggle="modal"
                        data-target="#modalAuthentification">Se
                        connecter</button>
                    {{/if}}
                </div>
            </li>
        </ul>
    </div>

    {{!------------ /nav 1 ------------------}}


    {{!------------ Image logo + phrase d'accroche ------------------}}
    <div>
        <img src="/public/ressources/images/imageLogo.jpeg" class="img-fluid rounded mx-auto d-block"
            style="height : 150px ; object-fit: contain" alt="Image du site">
        <p class="text-center colorBlack">Le blog sans allergènes qui répertorie les autres !!</p>
    </div>
    {{!------------ /Image logo + phrase d'accroche ------------------}}


    {{!------------ nav 2 ------------------}}
    <div class="container-fluid d-flex justify-content-center">
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav">
                    <li class="nav-item mx-5">
                        <a class="nav-link colorBlack" href="/">Accueil</a>
                    </li>
                    <li class="nav-item mx-5">
                        <a class="nav-link colorBlack" href="/repertory">Répertoire</a>
                    </li>
                    <li class="nav-item mx-5">
                        <a class="nav-link colorBlack" href="/actus">Mes articles</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    {{!------------ /nav 2 ------------------}}


    {{!------------ barre recherche ------------------}}
    <div class="container d-flex justify-content-center mb-3">
        <form class="form-inline">
            <input class="form-control form-control-sm" type="search" placeholder="Rechercher" aria-label="Search">
            <button class="btn btn-light my-2 my-sm-0 btn-sm" type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
    {{!------------ /barre recherche ------------------}}



    {{!------------ modal Création compte ------------------}}
    <div class="modal fade" id="modalUserCreate" tabindex="-1" role="dialog" aria-labelledby="#modalUserCreateLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalUserCreateLabel">Créer mon compte</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form id="formCreateAccount" action="/userCreate" method="POST" enctype="multipart/form-data">
                    <div class="container">
                        <div class="row modal-body">
                            <div class="col-md-12">
                                <label id="messageErrorCreateAccount" class="text-danger d-none"></label>

                                <div class="form-group row">
                                    <label for="nameModalCreateAccount" class="col-sm-5 col-form-label">Nom</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" name="name" id="nameModalCreateAccount"
                                            required>
                                    </div>
                                    {{!--required permet de forcer le remplissage de la zone de texte --}}
                                </div>
                                <div class="form-group row">
                                    <label for="pseudoModalCreateAccount" class="col-sm-5 col-form-label">Pseudo</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" name="pseudo"
                                            id="pseudoModalCreateAccount" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="emailModalCreateAccount" class="col-sm-5 col-form-label">Adresse
                                        email</label>
                                    <div class="col-sm-7">
                                        <input type="email" class="form-control" name="email"
                                            id="emailModalCreateAccount" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="passwordModalCreateAccount" class="col-sm-5 col-form-label">Mot de
                                        passe</label>
                                    <div class="col-sm-7">
                                        <input type="password" class="form-control" name="password"
                                            id="passwordModalCreateAccount" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="confPasswordModalCreateAccount"
                                        class="col-sm-5 col-form-label">Confirmer le mot de
                                        passe</label>
                                    <div class="col-sm-7">
                                        <input type="password" class="form-control" name="confPassword"
                                            id="confPasswordModalCreateAccount" required>
                                    </div>
                                </div>
                                <div class="form-group row ">
                                    <label for="createProfilPhotoModalCreateAccount"
                                        class="col-sm-12 col-form-label">Envoyer une photo de
                                        profil</label>
                                </div>
                                <div class="form-group row">
                                    <input type="file" accept="image/*" class="form-control-file col-sm-12"
                                        id="createProfilPhotoModalCreateAccount" name="image">
                                </div>
                                <div class="form-group mt-4">
                                    <input type="checkbox" id="gridCheckConditionsModalCreateAccount" name="gridCheck"
                                        required>
                                    {{!--gridcheck renvoi "on" dans un req.body.gridCheck si cocher--}}
                                    <label for="gridCheckConditionsModalCreateAccount">
                                        J'accepte les termes des conditions d’utilisation de ce site
                                    </label>
                                </div>

                            </div>
                            <div class="col-md-12 ">
                                <div class="d-flex flex-row-reverse">
                                    <button type="submit" onclick="functionComparePass()"
                                        class="btn btnSite">Créer</button>
                                    <button type="button" class="btn btnSite p-2 mr-2"
                                        data-dismiss="modal">Annuler</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    {{!------------ /modal Création compte ------------------}}


    {{!------------ modal Connexion ------------------}}
    <div class="modal fade" id="modalAuthentification" tabindex="-1" role="dialog"
        aria-labelledby="#modalAuthentificationLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalAuthentificationLabel">Me connecter</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                {{!-- <form action="/authentification" method="POST"> --}}
                <div class="container">
                    <div class="row modal-body">
                        <div class="col-md-12">
                            <label id="messageErrorAuth" class="text-danger d-none"></label>
                            <div class="form-group">
                                <input type="email" class="form-control" name="emailAuth" placeholder="Votre email *"
                                    value="" required />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="passwordAuth"
                                    placeholder="Votre mot de passe *" value="" required />
                            </div>
                            {{!-- <div class="checkbox">
                                <label> <input type="checkbox"> Se rappeler de moi. </label>
                            </div> --}}
                            <div class="form-group">
                                <a href="/forgotPassword" class="ForgetPwd">Mot de passe oublié</a>
                            </div>
                        </div>
                        <div class="col-md-12 ">
                            <div class="d-flex flex-row-reverse">
                                <button type="submit" class="btn btnSite" onclick="connexionModal()">Me
                                    connecter</button>
                                <button type="button" class="btn btnSite p-2 mr-2" data-dismiss="modal">Annuler</button>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- </form> --}}

            </div>
        </div>
    </div>
    {{!------------ /modal Connexion ------------------}}


    {{!------------ modal Gestion compte ------------------}}
    <div class="modal fade" id="modalUserEdit{{ _id }}" tabindex="-1" role="dialog"
        aria-labelledby="#modalUserEditLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalUserEditLabel">Modifier mon compte</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form action="/userEdit/{{ dbUserId._id }}/?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="container">
                        <div class="row modal-body">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label for="nameModalEditAccount" class="col-sm-4 col-form-label">Nom</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="name" id="nameModalEditAccount"
                                            value="{{ dbUserId.name }}">
                                    </div>
                                    {{!--required permet de forcer le remplissage de la zone de texte --}}
                                </div>
                                <div class="form-group row">
                                    <label for="pseudoModalEditAccount" class="col-sm-4 col-form-label">Pseudo</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="pseudo"
                                            id="pseudoModalEditAccount" value="{{ dbUserId.pseudo }}">
                                    </div>
                                    {{!--required permet de forcer le remplissage de la zone de texte --}}
                                </div>
                                <div class="form-group row">
                                    <label for="emailModalEditAccount" class="col-sm-4 col-form-label">Adresse
                                        Email</label>
                                    <div class="col-sm-8">
                                        <input type="email" class="form-control" name="email" id="emailModalEditAccount"
                                            value="{{ dbUserId.email }}">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="passwordOldModalEditAccount" class="col-sm-4 col-form-label">Ancien mot
                                        de passe</label>
                                    <div class="col-sm-8">
                                        <input type="password" class="form-control" name="passwordOldEditAccount"
                                            id="passwordOldModalEditAccount">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="passwordNewModalEditAccount" class="col-sm-4 col-form-label">Nouveau mot
                                        de passe</label>
                                    <div class="col-sm-8">
                                        <input type="password" class="form-control" name="passwordNewEditAccount"
                                            id="passwordNewModalEditAccount">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="conf-passwordNewModalEditAccount"
                                        class="col-sm-4 col-form-label">Confirmer le nouveau mot de passe</label>
                                    <div class="col-sm-8">
                                        <input type="password" class="form-control" name="confPasswordNewEditAccount"
                                            id="confPasswordNewModalEditAccount">
                                    </div>
                                </div>

                                <div class="form-group row mt-4 ml-2">
                                    <img src="{{ dbUserId.image }}" alt="image profil utilisateur"
                                        class="col-form-label" widht="100px" height="120px" style="object-fit: contain">
                                </div>
                                <div class="form-group row">
                                    <label for="editProfilPhoto" class="col-sm-12 col-form-label">Envoyer une nouvelle
                                        photo de
                                        profil</label>
                                </div>
                                <div class="form-group row">
                                    <input type="file" accept="image/*" class="form-control-file col-sm-12" id="editProfilPhoto"
                                        name="image" value="{{ dbUserId.image }}">
                                </div>
                            </div>
                            <div class="col-md-12 mt-1">
                                <div class="d-flex flex-row-reverse">
                                    <button type="submit" class="btn btnSite">Modifier</button>
                                    <button type="button" class="btn btnSite p-2 mr-2"
                                        data-dismiss="modal">Annuler</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                {{!------------ bouton vérification compte  ------------------}}
                {{!-- <form action="#" method="POST"> --}}
                {{!-- <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="d-flex flex-row">
                                <button type="submit" class="btn">*Vérifier mon compte*</button>
                            </div>
                        </div>
                    </div>
                </div> --}}
                {{!-- </form> --}}
                {{!------------ /bouton vérification compte  ------------------}}

                {{!------------ bouton suppression compte  ------------------}}
                <form action="/userEdit/{{ dbUserId._id }}/?_method=delete" method="POST" enctype="multipart/form-data">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="d-flex flex-row">
                                    <button type="submit" class="btn">*Supprimer mon compte*</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                {{!------------ /bouton suppression compte  ------------------}}

            </div>
        </div>
    </div>
    {{!------------ /modal Gestion compte  ------------------}}


    {{!-- SCRIPT MESSAGE MODAL CONNEXION --}}
    {{!-- Requête ajax avec Jquery --}}

    <script>

        function connexionModal() {
            //console.log("test");
            $.ajax({
                url: '/authentification',
                type: 'POST',
                data: { email: $("input[name=emailAuth]").val(), password: $("input[name=passwordAuth]").val() },
                dataType: 'json',
                success: function (json, statut) {
                    //console.log(json.message);
                    $("#messageErrorAuth").removeClass("d-none");
                    $("#messageErrorAuth").text(json.message);

                    if (json.noError) {
                        window.location.replace("/");
                    }
                },
                error: function (resultat, statut, erreur) {
                    console.log(resultat);
                    console.log(statut);
                    console.log(erreur);
                }
            });
        };

    </script>

    {{!-- /SCRIPT MESSAGE MODAL CONNEXION --}}


    {{!-- SCRIPT CREATION COMPTE : message et éviter Multer envoi image --}}
    ​
    <script>
        const formCreateAccount = document.getElementById('formCreateAccount')
        const messageErrorCreateAccount = document.getElementById('messageErrorCreateAccount')
        const checkboxForm = document.getElementById('gridCheckConditionsModalCreateAccount')

        functionComparePass = (functionComparePass) => {
            const Pass = formCreateAccount.password.value
            const confPass = formCreateAccount.confPassword.value
            //console.log(Pass)
            //console.log(confPass)

            const similarePass = (Pass === confPass)

            if (!similarePass) {
                console.log('not similare pass')
                messageErrorCreateAccount.classList.remove("d-none")
                messageErrorCreateAccount.textContent = "Vos mots de passe sont différents. Veuillez rééssayer."
            } else if (!checkboxForm.checked) {
                console.log('not checked')
                messageErrorCreateAccount.classList.remove("d-none")
                messageErrorCreateAccount.textContent = "Vous n'avez pas accepté les conditions d'utilisations du site. Veuillez cocher la case."
            } else if (similarePass) {
                console.log('similare pass OK')
                formCreateAccount.submit();
            } else {
                console.log('Erreur')
            }

            //console.log('compare password')
        }
    </script>

    {{!-- /SCRIPT CREATION COMPTE : message et éviter Multer envoi image --}}


</header>