{{!---------------- titre -----------------}}
<h1>User : {{ dbUser.name }}</h1>
{{!----------------/titre -----------------}}

{{!----------------compte user --------------}}
<div>
    <div>
        <img src="{{ dbUser.image }}" alt="image user" widht="200px" height="200px">
    </div>
    <div>
        <h5>{{ dbUser.name }} </h5>
        <p> {{ dbUser.status }} </p>
        <a href="/userEdit/{{ id }}">Editer le profil</a>
    </div>
</div>
{{!----------------/compte user -------------}}

<a href="/">Retour à l'accueil</a>