{{!---------------- titre -----------------}}
<h1>Mes articles</h1>
<h2>GET</h2>
{{!----------------/titre -----------------}}

{{!----------------card actu --------------}}
<div>
    {{#each dbActu }}
    <div>
        <img src="{{ image }}" alt="image actu" widht="200px" height="200px">
        <div>
            <h5>{{ title }} </h5>
            <p> {{ content }} </p>
            <a href="/actuSingle/{{ id }}">Voir l'article</a>
        </div>
        <div>
            <small>Publié le {{ moment createDate format="DD/MM/YYYY" }}</small>
        </div>
    </div>
    {{/each }}
</div>
{{!----------------/card actu -------------}}
