{{!----------------titre -----------------}}
<h1>Article</h1>
<h2>GET SINGLE {{ dbActu.title }}</h2>
{{!----------------/titre -----------------}}

{{!----------------actualité -----------------}}
<div>
    <div>
        <img src="{{ dbActu.image }}" alt="image actu" widht="200px" height="200px">
    </div>
    <div>
        <p>
            {{ dbActu.content }}
        </p>
    </div>
    <div>
        <p>
            Article écrit le {{ createDate }}, par {{ dbActu.author }}
        </p>
    </div>
</div>
{{!----------------/actualité -----------------}}

{{!-- bouton suppression --}}
<form action="/actuSingle/{{ dbActu._id }}/?_method=delete" method="POST">
    <button type="submit">Supprimer</button>
</form>


{{!----------------titre -----------------}}
<h1>PUT {{ dbActu.title }}</h1>
{{!----------------/titre -----------------}}

{{!-- Edition Article --}}
<form action="/actuSingle/{{ dbActu._id }}/?_method=PUT" method="POST" enctype="multipart/form-data">
    <div>
        <div>
            <label for="title">Titre</label>
            <input type="text" name="title" value="{{ dbActu.title }}" />
        </div>
        <div>
            <label for="content">Description</label>
            <textarea rows="3" name="content">{{ dbActu.content }}</textarea>
        </div>
        <div>
            <label>
                <input type="file" name="image" value="{{ dbActu.image }}">
                <span>
                    Envoyer une nouvelle image au format .jpg .jpeg .gif uniquement
                </span>
            </label>
        </div>
    </div>
    <div>
        <button type="submit">Modifier </button>
    </div>
</form>
{{!-- /Editer Article --}}
