{{!---------------- titre -----------------}}
<h1>GET</h1>
{{!----------------/titre -----------------}}

{{!----------------card actu --------------}}
<div>
    {{#each dbActu }}
    <div>
        <img src="{{ image }}" alt="Card image cap" widht="200px" height="200px">
        <div class="card-body">
            <h5>{{ title }} </h5>
            <p> {{ content }} </p>
            <a href="/actuSingle/{{ id }}">Voir l'article</a>
        </div>
        <div>
            <small>Publié le {{ moment createDate format="DD/MM/YYYY" }}</small>
        </div>
    </div>
    {{/each }}
</div>
{{!----------------/card actu -------------}}

<a href="/">Retour à l'accueil</a>