{{!---------------- titre -----------------}}
<div class="container my-5">
    <h1 class="colorWrite">Mes articles</h1>
    {{!----------------/titre -----------------}}

    {{!----------------card actu --------------}}
    <div class="row">
        <div class="card-deck">
            {{#each (reverse dbActu) }}
            <div class="card limitCard mt-4 ml-3">
                <div class="card-body">
                    <h5 class="card-title">{{ title }}</h5>
                    <p class="card-text">{{ truncate content 200 }}</p>
                </div>
                <div class="card-body">
                    <img src="{{ image }}" class="rounded float-left" height="200px" width="180px"
                        alt="image de l'article">
                </div>
                <a href="/actuSingle/{{ id }}" class="d-flex justify-content-end text-decoration-none"><button
                        class="btn btnSite mb-3 mr-3">Voir l'article</button></a>
                <div class="card-footer">
                    <small class="text-muted">Publié le
                        {{ moment createDate format="DD/MM/YYYY" }}</small>
                </div>
            </div>
            {{/each }}
        </div>
    </div>
</div>
{{!----------------/card actu -------------}}