<div class="container">
    <div class="row">
        {{!----------------titre -----------------}}
        <h1>{{ dbActu.title }} </h1>
        {{!----------------/titre -----------------}}

        {{!----------------actualité -----------------}}
        <div>
            <div>
                <img src="{{ dbActu.image }}" alt="image actu" widht="200px" height="200px">
            </div>
            <div>
                <p>
                    {{ dbActu.content }}
                </p>
            </div>
        </div>
        <div>
            {{!-- bouton commenter --}}
            {{#if isVerified}}
            <button class="btn" data-toggle="modal" data-target="#modalCommenter{{_id}}" data-whatever="@getbootstrap"
                type="submit">Commenter</button>
            {{/if}}
            {{!-- bouton commenter --}}
        </div>
        {{!----------------/actualité -----------------}}
    </div>
</div>

{{!-- Modal commenter actualité --}}
<div class="modal fade" id="modalCommenter{{_id}}" tabindex="-1" role="dialog" aria-labelledby="#modalCommenterLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCommenterLabel">Ajouter un commentaire</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form action="/commentaireActu/{{ dbActu._id }}" method="POST">
                <div class="container">
                    <div class="row modal-body">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="pseudoComment" class="col-form-label">Votre pseudo : </label>
                                <input class="form-control" id="pseudoComment" type="text" name="pseudo"
                                    value="{{ dbUser.pseudo }}" disabled="disabled">
                            </div>
                            <div class="form-group">
                                <label for="commentActu" class="col-form-label">Votre commentaire : </label>
                                <textarea class="form-control" id="commentActu" type="text" name="content"
                                    required></textarea>
                            </div>
                        </div>
                        <div class="col-md-12 ">
                            <div class="d-flex flex-row-reverse">
                                <button type="submit" class="btn">Poster</button>
                                <button type="button" class="btn p-2" data-dismiss="modal">Annuler</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
{{!-- /Modal commenter actualité --}}

{{!-- Zone commentaire --}}
<div class="container">
    <div class="row">
        <div class="list-group">
            {{#each (reverse dbComment) }}
            <div class="list-group-item list-group-item-action">
                <p class="mb-1"> {{ content }} </p>
                <div class="d-flex w-100 justify-content-between">
                    <small>{{ pseudoAuthor }}</small>
                    <small>Posté le {{ moment createDate format="DD-MM-YY"}}</small>
                </div>
            </div>
            {{!-- <div class="list-group-item list-group-item-action">
                <p class="mb-1">Et eodem impetu Domitianum praecipitem per scalas itidem funibus constrinxerunt, eosque
                    coniunctos per ampla spatia civitatis acri raptavere discursu. iamque artuum et membrorum divulsa
                    conpage superscandentes corpora mortuorum ad ultimam truncata deformitatem velut exsaturati mox
                    abiecerunt in flumen.</p>
                <div class="d-flex w-100 justify-content-between">
                    <small>Pseudo</small>
                    <small>Date post</small>
                </div>
            </div>
            <div class="list-group-item list-group-item-action">
                <p class="mb-1">Et eodem impetu Domitianum praecipitem per scalas itidem funibus constrinxerunt, eosque
                    coniunctos per ampla spatia civitatis acri raptavere discursu. iamque artuum et membrorum divulsa
                    conpage superscandentes corpora mortuorum ad ultimam truncata deformitatem velut exsaturati mox
                    abiecerunt in flumen.</p>
                <div class="d-flex w-100 justify-content-between">
                    <small>Pseudo</small>
                    <small>Date post</small>
                </div>
            </div> --}}
            {{/each }}
        </div>
    </div>
</div>
{{!-- /Zone commentaire --}}








{{!-- bouton suppression --}}
<form action="/actuSingle/{{ dbActu._id }}/?_method=delete" method="POST">
    <button type="submit">Supprimer</button>
</form>


{{!----------------titre -----------------}}
<h1>PUT {{ dbActu.title }}</h1>
{{!----------------/titre -----------------}}

{{!-- Edition Article --}}
<form action="/actuSingle/{{ dbActu._id }}/?_method=PUT" method="POST" enctype="multipart/form-data">
    <div>
        <div>
            <label for="title">Titre</label>
            <input type="text" name="title" value="{{ dbActu.title }}" />
        </div>
        <div>
            <label for="content">Description</label>
            <textarea rows="3" name="content">{{ dbActu.content }}</textarea>
        </div>
        <div>
            <label>
                <input type="file" name="image" value="{{ dbActu.image }}">
                <span>
                    Envoyer une nouvelle image au format .jpg .jpeg .gif uniquement
                </span>
            </label>
        </div>
    </div>
    <div>
        <button type="submit">Modifier </button>
    </div>
</form>
{{!-- /Editer Article --}}