
{{#if isEmpty}}
<label class="text-danger">Aucun résultats pour cette recherche.</label>
{{/if}}
{{#each dbRepertory }}
{{#if isVerified}}
<div class="card cardRepertory mb-5" style="max-width: 600px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="{{ image }}" class="card-img" height="140px" width="100px" style="object-fit: contain"
                alt="image du site">
        </div>
        <div class="col-md-8">
            <div class="card-header">
                <small class="text-muted">Dans catégorie :
                    {{#contains category "sansGluten" }}
                    Sans gluten
                    {{/contains }}
                    {{#contains category "sansLactose" }}
                    Sans lactose
                    {{/contains }}
                    {{#contains category "sansOeufs" }}
                    Sans oeufs
                    {{/contains }}
                    {{#contains category "sansCaseine" }}
                    Sans caséine
                    {{/contains }}
                    / Note : </small>
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 d-flex flex-column">
                            <h5 class="card-title">{{ title }}</h5>
                            <a href="{{ url }}" target="_blank">{{ url }}</a>
                            <p class="card-text mt-2">{{ truncate content 200 }}</p>
                        </div>
                        {{!-- bouton noter --}}
                        {{#if ../userVerified }}
                        {{!-- A REVOIR --}}
                        <div class="col-md-12 d-flex justify-content-end">
                            <button class="btn btnSite mt-3" type="button" data-toggle="modal"
                                data-target="#modalNoter{{_id}}" data-whatever="@getbootstrap">Noter</button>
                        </div>
                        {{/if}}
                        {{!-- bouton noter --}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-------------- Modal noter site/répertoire -------------------}}
<div class="modal fade" id="modalNoter{{_id}}" tabindex="-1" role="dialog" aria-labelledby="#modalNoterLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalNoterLabel">Ajouter une note</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form action="/note/{{ _id }}" method="POST">
                <div class="container">
                    <div class="row modal-body">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="pseudoComment{{_id}}" class="col-form-label">Votre pseudo :
                                </label>
                                <input class="form-control" id="pseudoComment{{_id}}" type="text" name="pseudo"
                                    value="{{ ../dbUserId.pseudo }}" disabled="disabled">
                                {{!-- pour "sortir" du each et obtenir d'autres infos de bdd il faut utiliser : "../" : (changing the context handlebars) --}}
                            </div>
                            <div class="form-group">
                                <label for="noteSite{{_id}}" class="col-form-label">Votre note : </label>
                                <input class="form-control" id="noteSite{{_id}}" type="text" name="note" required>
                            </div>
                            <div class="form-group">
                                <label for="commentNote{{_id}}" class="col-form-label">Votre commentaire :
                                </label>
                                <textarea class="form-control" id="commentNote{{_id}}" type="text" name="comment"
                                    required></textarea>
                            </div>
                        </div>
                        <div class="col-md-12 ">
                            <div class="d-flex flex-row-reverse">
                                <button type="submit" class="btn btnSite ">Poster</button>
                                <button type="button" class="btn btnSite p-2 mr-2" data-dismiss="modal">Annuler</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
{{!-------------------- /Modal noter site/répertoire --------------------}}
{{/if}}
{{/each }}
