{{!-- 
Page répertoire

Note :
indications "note" à remettre dans "small" de la card dès que fonctionnalité en place
bouton "noter" à remettre dès que fonctionnalité en place
trie par popularité (selon les notes) à remettre dès que fonctionnalité en place
 --}}
<div class="container my-5">

    {{!-- Titre --}}
    <h1 class="colorWrite title text-center">Répertoire</h1>
    {{!-- /Titre --}}

    <div class="row mt-4 flex-row-reverse">

        {{!-- Bouton vers modal proposition site à l'ajout --}}
        <div class="col-md-3">
            {{#if isVerified}}
            <button class="btn btnRepertoryAdd d-flex align-items-center ml-1 mb-4 pr-5" data-toggle="modal"
                data-target="#modalPropoSite" data-whatever="@getbootstrap"><i
                    class="far fa-plus-square fa-2x mx-2"></i>Proposer un site</button>
            {{/if}}
        </div>
        {{!-- /Bouton vers modal proposition site à l'ajout --}}

        {{!------- Modal proposition site à l'ajout pour répertoire -----------------------}}
        {{> modal/modalRepertoryPropoSite}}
        {{!------- /Modal proposition site à l'ajout pour répertoire --------------}}

        {{!-- Descriptif de la page --}}
        <div class="col-md-9 mb-4">
            <p class="text-justify">Cette section permet de recenser tous les sites proposant des recettes sans
                allergènes. Vous pouvez les
                trier selon les catégories que vous désirez. Si vous êtes connecté à votre compte, vous pouvez également
                me proposer un ou des
                site(s) à ajouter à ce répertoire.
            </p>
        </div>
        {{!-- /Descriptif de la page --}}

    </div>

    <div class="row flex-row-reverse">

        {{!-- Filtre par catégorie --}}
        <div class="col-md-3">
            {{!-- ANCIEN FORMULAIRE --}}
            {{!-- <form action="/repertoryFilter" method="POST"> --}}
            {{!-- /ANCIEN FORMULAIRE --}}

            <p class="ml-2">Trier par catégorie</p>
            <ul class="list-group list-group-flush ml-2 mb-5 " style="max-width: 200px;">
                <li class="list-group-item" style="background-color: rgba(204, 217, 215, 0.2);">
                    <input class="form-check-input" type="checkbox" name="categoryFilter" value="sansGluten"
                        id="sansGluten">

                    <label class="form-check-label" for="sansGluten">
                        Sans gluten
                    </label>
                </li>
                <li class="list-group-item" style="background-color: rgba(204, 217, 215, 0.2);">
                    <input class="form-check-input" type="checkbox" name="categoryFilter" value="sansLactose"
                        id="sansLactose">

                    <label class="form-check-label" for="sansLactose">
                        Sans lactose
                    </label>
                </li>
                <li class="list-group-item" style="background-color: rgba(204, 217, 215, 0.2);">
                    <input class="form-check-input" type="checkbox" name="categoryFilter" value="sansOeufs"
                        id="sansOeufs">

                    <label class="form-check-label" for="sansOeufs">
                        Sans oeufs
                    </label>
                </li>
                <li class="list-group-item" style="background-color: rgba(204, 217, 215, 0.2);">
                    <input class="form-check-input" type="checkbox" name="categoryFilter" value="sansCaseine"
                        id="sansCaseine">

                    <label class="form-check-label" for="sansCaseine">
                        Sans caséine
                    </label>
                </li>
                {{!-- <li>
                        <input class="form-check-input" type="checkbox" value="" id="populaires">
                        <label class="form-check-label" for="populaires">
                                Les plus populaires
                        </label>
                    </li> --}}
            </ul>
            {{!-- ANCIEN BOUTON RECHERCHER --}}
            {{!-- <button id="rechercher" type="submit" class="btn btnSite">Rechercher</button> --}}
            {{!-- </form> --}}
            {{!-- /ANCIEN BOUTON RECHERCHER --}}

        </div>
        {{!-- /Filtre par catégorie --}}

        {{!-- Cards du répertoire --}}
        <div class="col-md-9" id="recharger">
            {{#each dbRepertory }}
            {{#if isVerified}}
            <div class="card cardRepertory mb-5" style="max-width: 600px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{ image }}" class="card-img" height="140" width="100" style="object-fit: contain"
                            alt="image ou logo du site">
                    </div>
                    <div class="col-md-8">
                        <div class="card-header">
                            <small class="text-muted">Dans catégorie :
                                {{#contains category "sansGluten" }}
                                Sans gluten
                                {{/contains }}
                                {{#contains category "sansLactose" }}
                                Sans lactose
                                {{/contains }}
                                {{#contains category "sansOeufs" }}
                                Sans oeufs
                                {{/contains }}
                                {{#contains category "sansCaseine" }}
                                Sans caséine
                                {{/contains }}
                                {{!-- / Note :  --}}
                            </small>
                        </div>
                        <div class="card-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 d-flex flex-column">
                                        <h5 class="card-title">{{ title }}</h5>
                                        <a href="{{ url }}" target="_blank">{{ url }}</a>
                                        <p class="card-text mt-2 text-justify">{{ truncate content 200 }}</p>
                                    </div>
                                    {{!-- bouton noter --}}
                                    {{#if ../userVerified }}
                                    {{!-- <div class="col-md-12 d-flex justify-content-end">
                                        <button class="btn btnSite mt-3" type="button" data-toggle="modal"
                                            data-target="#modalNoter{{_id}}"
                                            data-whatever="@getbootstrap">Noter</button>
                                    </div> --}}
                                    {{/if}}
                                    {{!-- bouton noter --}}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            {{!-------------- Modal noter site/répertoire -------------------}}
            <div class="modal fade" id="modalNoter{{_id}}" tabindex="-1" role="dialog"
                aria-labelledby="modalNoterLabel{{_id}}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalNoterLabel{{_id}}">Ajouter une note</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <form action="/note/{{ _id }}" method="POST">
                            <div class="container">
                                <div class="row modal-body">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="pseudoComment{{_id}}" class="col-form-label">Votre pseudo :
                                            </label>
                                            <input class="form-control" id="pseudoComment{{_id}}" type="text"
                                                maxlength="100" name="pseudo" value="{{ ../dbUserId.pseudo }}"
                                                disabled="disabled">
                                            {{!-- pour "sortir" du each et obtenir d'autres infos de bdd il faut utiliser : "../" : (changing the context handlebars) --}}
                                        </div>
                                        <div class="form-group">
                                            <label for="noteSite{{_id}}" class="col-form-label">Votre note : </label>
                                            <input class="form-control" id="noteSite{{_id}}" type="text" name="note"
                                                maxlength="100" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="commentNote{{_id}}" class="col-form-label">Votre commentaire :
                                            </label>
                                            <textarea class="form-control" id="commentNote{{_id}}" name="comment"
                                                maxlength="5000" required></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12 ">
                                        <div class="d-flex flex-row-reverse">
                                            <button type="submit" class="btn btnSite ">Poster</button>
                                            <button type="button" class="btn btnSite p-2 mr-2"
                                                data-dismiss="modal">Annuler</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            {{!-------------- /Modal noter site/répertoire -------------------}}

            {{/if}}
            {{/each }}
        </div>
        {{!-- Cards du répertoire --}}

    </div>

</div>

​
<script>

    //{{!-- SCRIPT CREATION SITE :  message et éviter Multer envoi image --}}
    //DOM
    const messageErrorCreateSiteUser = document.getElementById('messageErrorCreateSiteUser')
    const buttonCreateSiteUser = document.getElementById('buttonCreateSiteUser')

    document.getElementById('addSitePhotoUser').onchange = function () {
        let fileaddSiteUser = $("#addSitePhotoUser")[0];
        let size = fileaddSiteUser.files[0].size;
        //console.log(size)

        if (size >= 1000000) {
            console.log('size not OK')
            messageErrorCreateSiteUser.classList.remove("d-none")
            messageErrorCreateSiteUser.textContent = "Votre fichier est trop volumineux. Veuillez rééssayer."
            buttonCreateSiteUser.setAttribute("disabled", "");
        } else if (size < 1000000) {
            console.log('size OK')
            //formCreateSite.submit();
            messageErrorCreateSiteUser.classList.add("d-none")
            buttonCreateSiteUser.removeAttribute("disabled");
        } else {
            console.log('Erreur')
        }

        //console.log('control size image')
    }
    //{{!-- /SCRIPT CREATION SITE : message et éviter Multer envoi image --}}


    //{{!-- SCRIPT RETRAIT MESSAGE ERREUR CHECKBOX QUAND CLIENT COCHE --}}
    //JQUERY
    $(document).ready(function () {
        $("input[name='category']").click(function () {
            //console.log("coucou")
            $("#messageErrorAddSite").addClass("d-none");
        });
    })
    //{{!-- /SCRIPT RETRAIT MESSAGE ERREUR CHECKBOX QUAND CLIENT COCHE --}}



    //{{!-- SCRIPT CHECKBOX REQUIRE MODAL PROPO SITE --}}
    //JQUERY
    $(document).ready(function () {
        $("#scriptCheckboxUser").submit(function (event) {
            //on vérifie que nos conditions d'envoi sont bonnes
            if (countCheckedJQuery() >= 1) {
                console.log("submitted !");
            } else {
                //on empêche le questionnaire de s'envoyer
                event.preventDefault();
                $("#messageErrorAddSite").removeClass("d-none");
                $("#messageErrorAddSite").text("Veuillez cocher au moins une case");
                console.log("unsubmit");
            }
        });

        function countCheckedJQuery() {
            var checked = $(".groupCheckboxScript:checked");//sélectionne tous les éléments de classe "groupcheckbox" qui sont sélectionné
            return checked.length;
        }
    })
    //{{!-- /SCRIPT CHECKBOX REQUIRE MODAL PROPO SITE --}}



    //{{!-- SCRIPT FILTRE CLICK CHECKBOX REPERTORY --}}
    //{{!-- requête Ajax avec JQuery --}}
    $(document).ready(function () {
        $("input[name='categoryFilter']").click(function () {
            //console.log("coucou")

            var categories = [];

            $.each($("input[name='categoryFilter']:checked"), function () {
                categories.push($(this).val());
            });

            //console.log(categories)

            $.ajax({
                url: '/repertoryFilter',
                type: 'POST',
                data: {
                    category: categories
                },
                //dataType: 'json',
                success: function (data, json, statut) {
                    //console.log("recherche OK")
                    //console.log(data)
                    //console.log(json)
                    //const dbRepertory = data.dbRepertory;
                    //console.log(dbRepertory)

                    $("#recharger").html(data);

                },
                error: function (resultat, statut, erreur) {
                    console.log(resultat);
                    console.log(statut);
                    console.log(erreur);

                }

            });

        });
    });
//{{!-- /SCRIPT FILTRE CLICK CHECKBOX REPERTORY --}}

</script>